<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>jifbox</title>
    <style>
      #cnvs { border: 1px solid #999; width: 100px; height: 100px; }
      #vdo { border: 1px solid #999; width: 100px; height: 100px; }
      /*#jif { width: 640px; height: 480px; }*/
      .snaps img { width: 160px; height: 120px; }
    </style>
  </head>
  <body>
    <div>
      <input type="checkbox" id="burst-switch" name="burst-switch" class="switch">
      <label for="burst-switch">Burst mode</label> 
    </div>
    <canvas id="cnvs"></canvas>
    <video id="vdo"></video>
    <div class="snaps">
    </div>
    <p>
      <button id="snap">SNAP</button>
    </p>
    <img src="" id="jif">
    <div id="gif-uploader">
      <canvas></canvas>
      <form id="gif-form" action="/giffed" method="POST">
        <input type="file" name="giffile">
        <button type="submit">Upload</button>
      </form>
    </div>
  </body>
  <script src="/static/gif.js/dist/gif.js"></script>
  <script src="/static/js/jifbox.js"></script>
</html>