{% extends "base.html" %}

{% block content %}

    <h1>JIFBOX</h1>

    <h2>Configuration</h2>

    <form class="sm-col-6">

        <fieldset class="fieldset-reset">

            <legend class="h3 bold">Taking the photos</legend>

            <label>Number of photos</label>
            <input type="text" class="block half-width field-light" placeholder="10" size="4">

            <label>Milliseconds between photos</label>
            <input type="text" class="block half-width field-light" placeholder="10">

        </fieldset>

        <fieldset class="fieldset-reset">

            <legend class="h3 bold">Making the GIF</legend>

            <label>Milliseconds between frames</label>
            <input type="text" class="block half-width field-light" placeholder="10">

        </fieldset>

    </form>

    <h2>Services</h2>

    <h3>Dropbox</h3>
    {% if services.dropbox.is_available %}
        {% if services.dropbox.is_enabled %}
            <a class="button button-red" href="/settings/dropbox/logout">Disconnect Dropbox</a>
        {% else %}
           	<a class="button button-blue" href="/settings/dropbox/auth">Connect to Dropbox</a>
        {% endif %}
    {% else %}
        <p>Sorry, Dropbox is not enabled for this instance of JIFBOX.</p>
    {% endif %}

    <h3>Tumblr</h3>
    {% if services.tumblr.is_available %}
        {% if services.tumblr.is_enabled %}
            <a class="button button-red" href="/settings/tumblr/logout">Disconnect Tumblr</a>
        {% else %}
           	<a class="button button-blue" href="/settings/tumblr/auth">Connect to Tumblr</a>
        {% endif %}
    {% else %}
        <p>Sorry, Tumblr is not enabled for this instance of JIFBOX.</p>
    {% endif %}


    <h2>Debug</h2>

    <form action="/giffed" method="post" enctype="multipart/form-data">
        <input type="file" name="giffile">
        <button class="button-gray mb1">Fake It</button>
    </form>

{% endblock %}